<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.windypermadi.adminjilbabqu">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdminJilBabQu">
        <activity
            android:name=".menu.LaporanActivity"
            android:exported="false" />
        <activity
            android:name=".menu.PenjualanActivity"
            android:exported="false" />
        <activity
            android:name=".menu.produk.DetailProdukActivity"
            android:exported="false" />
        <activity
            android:name=".menu.produk.TambahProdukActivity"
            android:exported="false" />
        <activity
            android:name=".menu.ProdukActivity"
            android:exported="false" />
        <activity
            android:name=".menu.KategoriActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>